
*.user

*.csproj

*.targets

*.props

WebApplication1/obj/WebApplication1.csproj.nuget.dgspec.json

WebApplication1/obj/

.vs/WebApp1/v17/.suo

.vs/WebApp1/DesignTimeBuild/.dtbcache.v2

WebApp1.sln

.vs/WebApp1/config/applicationhost.config

WebApplication1/bin/Debug/net6.0/WebApp.runtimeconfig.json

WebApplication1/bin/Debug/net6.0/WebApp.pdb

WebApplication1/bin/Debug/net6.0/WebApp.exe

WebApplication1/bin/Debug/net6.0/WebApp.dll

WebApplication1/bin/Debug/net6.0/WebApp.deps.json

WebApplication1/bin/Debug/net6.0/Microsoft.OpenApi.dll

WebApplication1/bin/Debug/net6.0/Swashbuckle.AspNetCore.Swagger.dll

WebApplication1/bin/Debug/net6.0/Swashbuckle.AspNetCore.SwaggerGen.dll

WebApplication1/bin/Debug/net6.0/Swashbuckle.AspNetCore.SwaggerUI.dll

.vs/WebApp1/v17/.futdcache.v1
